# env file
.env
# infra
infra/local/ack/secret.yaml

# terraform
infra/cloud/.terraform
infra/cloud/.terraform.lock.hcl
infra/cloud/.terraform.tfstate
infra/cloud/terraform.tfstate
infra/cloud/terraform.tfstate.backup
